@media (width <= 407px) {
    .navimg{
		width: 120px;
	}
	.ptylogo{
		font-size: 18px;
	}
    h1, h2{
        font-size: 20px;
    }
    .fullContent{
        width: 100%;
    }
    .tierDetails2{
       grid-gap: 2.5px;
    }
    .tierDetailText{
        font-size: 10px;
    }
    .bxs-brain, .bxs-pen, .bxs-camera-movie, .bx-cart-download, .bx-candles, .bxs-inbox, .bx-send{
        font-size: 50px;
    }
    .webContentGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .fullContent{
        height: 100%;
    }
    #ca1, #ca2{
		width: 75%;
	}
    .infoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: auto;
    }
    .webDetails{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    } 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .clientSec{
        max-height: none;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
    }
    .graphicsVid{
        width: 100%;
        height: 100%;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .socialIn, #primaryCo, #secondaryCo, #tertiaryCo, .shortSumm{
        font-size: 12px;
    }
    .socialIn{
        margin-bottom: 0;
    } 
    .infoGrid{
        grid-gap: 0;
    }
    .options{
        font-size: 14px;
    }
    .industryDropdown.active {
        height: 30vh;
    }
    .shortSumm{
        top: 0;
        height: 20vh;
    }
}

@media (408px <= width <= 575px) {
    .navimg{
		width: 160px;
	}
	
	.ptylogo{
		font-size: 26px;
	}
    .webContentGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .fullContent{
        height: 100%;
    }
    #ca1, #ca2{
		width: 75%;
	}
    .infoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: auto;
    }
    .webDetails{
        grid-template-columns: 1fr;
        grid-template-rows: 40vh auto;
    } 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .clientSec{
        max-height: none;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows:  auto; 
    }
    .infoSect, .infoBox{
        min-height: auto;
    }
    .graphicsVid{
        width: 100%;
        height: 100%;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .socialIn, #primaryCo, #secondaryCo, #tertiaryCo, .shortSumm{
        font-size: 12px;
    }
    .options{
        font-size: 14px;
    }
    .industryDropdown.active {
        height: 80%;
    }
    .shortSumm{
        height: 35vh;
    }
}

@media (575px <= width <= 804px) {
    .infoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: auto;
    }
    .webDetails{
        grid-template-columns: 1fr;
        grid-template-rows: 40vh auto;
    } 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    #ca1, #ca2{
		width: 100%;
	}
    .clientSec{
        max-height: none;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .graphicsVid{
        width: 100%;
        height: auto;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .socialIn, #primaryCo, #secondaryCo, #tertiaryCo, .shortSumm{
        font-size: 16px;
    }
}

@media (805px <= width <= 907px) {
    .webDetails{
        grid-template-columns: 1fr;
        grid-template-rows: 40vh auto;
    } 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    #ca1, #ca2{
		width: 75%;
	}
    .clientSec{
        max-height: none;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto; 
    }
    .graphicsVid{
        width: 100%;
        height: auto;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
} 

@media (908px <= width <= 996px) { 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .clientSec{
        max-height: none;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto; 
    }
    .graphicsVid{
        width: 100%;
        height: auto;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
}

@media (997px <= width <= 1115px) { 
    .appContent{
        min-height: auto;
        margin-bottom: 0;
    }
    .clientSec{
        max-height: none;
    }
    .appVid{
        grid-row: 1;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
    .graphicSec, .clientSec{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .graphicsVid{
        width: 100%;
        height: auto;
    }
    .circleVid{
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: none;
        border-radius: 0%;
    }
}

@media (1116px <= width <= 1356px) { 
    
}
