	.sectionTwo{
		display: block;
		position: relative;
		align-items: center;
		justify-content: center; 
		background: #C8E6C9;
		min-height: 100vh;   
	} 
	
	.sectionHeading{
		display: block;
		text-align: center;
		padding: 1.875rem;
		color: rgb(51, 51, 51);
	}
	
	.seoGrid{
		display: grid;
		grid-template-columns: 25% 75%;
		grid-template-rows: 100%;
		height: 85%; 
	}
	
	.seobox{
		display: block;
		position: relative;
		justify-content: center;
		align-items: center;
		background-image: url('seo1img.jpeg');
		background-repeat: no-repeat; 
		background-size: 60%;
		margin: 1.875rem;
		border-radius: 30px;
		overflow: hidden;
		box-shadow: 0px 5px 15px 12px rgba(0, 0, 0, 0.5);
	}
	
	.seoarticlegrid{
		display: grid;
		grid-template-columns: 50% 50%;
		height: 100%;
		overflow: hidden;
	}
	
	.seoarticle{
		display: flex;
		flex-direction: column;
		position: relative; 
		align-items: center;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		background: white; 
		overflow: hidden;
		box-shadow: -4px 0px 15px 7px rgba(0, 0, 0, 0.5);
	}
	
	.advertasideone{
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%; 
		background: #C8E6C9;
		margin: 1.875rem;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
	}
	
	.asidecontgrid{
		display: grid;
		grid-template-rows: 25% 65%;
		grid-template-columns: 100%;
		height: 100%;
		border-radius: 30px;
	}
	
	.seovideo{
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;
		filter: saturation(150%);
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
	
	.seoaside{
		display: flex;
		flex-direction: column;
		position: relative; 
		background: white;
		align-items: center;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		box-shadow: 0px -5px 15px 12px rgba(0, 0, 0, 0.5);
	}
	
	.asideheadingone{ 
		font-size: 60px;
		font-family: "Aboreto", serif;
		font-weight: 400;
		font-style: normal;
		padding-top: 0.25em;
		color: rgb(51, 51, 51);		
	}
	
	.seoheadding{
		display: block;
		position: relative;
		font-size: 30px;
		font-family: "Aboreto", serif;
		font-weight: 400;
		font-style: normal; 
		text-align: center;
		padding-top: 0.25em;  
	}
	
	.seowaffle{
		display: block;
		position: relative;
		font-size: 22px;
		font-family: "Inria Sans", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		letter-spacing: 1.2px;  
	}
	
	.atcont{
		display: flex;
		flex-direction: row;
		position: relative; 
		width: 100%;
		height: 15vh;
		background: transparent; 
		left: 65%; 
		transform: translate(-50%, 0); 
	}
	
	.aticon{
		font-size: 75px; 
		color: black;
		line-height: normal;
		text-decoration: none;
		text-shadow: -5px -2px #C8E6C9;
	}
	
	.linkat{
		display: flex; 
		position: absolute;
		top: 37.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		text-shadow: -2.5px -2px #C8E6C9;
	}
	
	.chartcont{
		display: flex;
		flex-direction: row;
		position: relative; 
		width: 100%;
		height: 15vh;
		background: transparent;
		left: 65%; 
		transform: translate(-50%, 0);  
	}
	
	.charticon{
		font-size: 75px; 
		color: black;
		line-height: normal;
		text-decoration: none;
		text-shadow: -5px -2px #C8E6C9;
	}
	
	.chartat{
		display: flex; 
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		text-shadow: -2.5px -2px #C8E6C9;
	}
