	.sectionFour{
		display: flex;
		flex-direction: column;
		position: relative; 
		background: rgb(11, 11, 11);
		min-height: 100vh;  
	}
		
	.merch{
		display: flex;
		flex-direction: row;
		position: relative;
		width: 95%;
		min-height: 80vh;
		margin-inline: auto;
		background: transparent;
	}
	
	.merchGrid{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%;  
	}
	
	.productdetails{
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: center;
		padding: 5px;
	}
	
	.productheading{
		font-size: 27px;
		font-family: "Poppins", sans-serif;
		font-weight: 800;
		font-style: normal;
		color: white;
		text-align: center;
	}
	
	.productsubheading{
		font-size: 26px;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		font-style: normal;
		color: white;
		text-align: center;
	}
	
	.productwaffle{
		font-size: 20px;
		font-family: "Poppins", sans-serif;
		font-weight: 100;
		font-style: normal;
		color: white; 
	}
	
	.productwaffle2{
		font-size: 14px;
		font-family: "Poppins", sans-serif;
		font-weight: 100;
		font-style: normal;
		color: white; 
	}
	
	.atc{
		display: block;
		position: absolute;
		top: 94%;
		left: 80%;
		transform: translate(-50%, -50%);
		height: 20px;
		width: 120px;
		border-radius: 30px;
		cursor: pointer;
		transition: all 0.3s;
		background: #C8E6C9;
		outline: none;
		border: none;
	}
	
	.atc label{
		font-size: 12px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-style: normal;
		color: black;
		cursor: pointer;
		transition: all 0.3s;
	}
	
	.PrevButtClass{
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	#leftButt, #leftButt2, #leftButt3{
		display: block;
		position: absolute;
		top: 50%;
		left: 14%;
		transform: translate(-25%, -50%); 
		padding: 1px 10px;
		height: 50%;
		justify-content: center;
		cursor: pointer; 
		background: white;
		border: none;
		border-radius: 30px;
		box-shadow: 0px 0px 15px 12px #C8E6C9; 
		transition: all 0.3s;
	}
	
	#leftButt, #leftButt2, #leftButt3 label{
		font-size: 16px;
		font-family: "Ultra", serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(51, 51, 51);
		cursor: pointer;
		transition: all 0.3s;
	}
	
	#rightButt, #rightButt2, #rightButt3{
		display: block;
		position: absolute; 
		padding: 1px 10px;
		top: 50%;
		left: 84%;
		transform: translate(-25%, -50%); 
		height: 50%;
		justify-content: center;
		background: white;
		cursor: pointer;
		border: none;
		border-radius: 30px;
		box-shadow: 0px 0px 15px 12px #C8E6C9;
		transition: all 0.3s;
	}
	
	#rightButt, #rightButt2, #rightButt3 label{
		font-size: 16px;
		font-family: "Ultra", serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(51, 51, 51);
		cursor: pointer;
		transition: all 0.3s;
	}
