@media (width <= 371px) { 
    .navimg{
        width: 120px;
    }
    .ptylogo{
        font-size: 18px;
        text-shadow: -1px 0px 2px rgb(11, 11, 11);
    }
    .sectionOne{
        background-position: center;
    }
    .sectionFive, .sectionSix, .sectionThree{
        background: transparent;
    }
    .sectionHeading{
        font-size: 26px;
        text-shadow: -1px 0px 2px #FF6A0D;
    }
    .seoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .dataGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2.5em;
        padding-bottom: 15%;
    }
    .asidecontgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
        grid-gap: 5%;
    } 
    .seoaside{
        border-radius: 30px;
        height: auto;
    }
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .styleBox, .seobox{
        background-position-y: -14em;
    }
    .seoheadding{
        font-size: 24px;
    }
    .seoarticle, .dataArticle{
        padding: 0.5rem;
        border-radius: 30px;
    }
    .seoarticlegrid, .dataArticleBox{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto; 
    }
    .seovideo{
        border-radius: 30px;
    }
    .openingheading, .openingheading2, .openingwaffle, .openingwaffle2{ 
        text-align: center;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetails, .priceDetails{
        width: 100%;
        margin-inline: auto;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 14px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%; 
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    } 
    .seowaffle{
        font-size: 16px;
    }
    .undustryGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
        width: 80vw;
        margin-inline: auto;
        border-radius: 30px;
    } 
    .industryvidbox{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .industryaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .industrywaffle{
        font-size: 21px;
    }
    .words{
        height: 35px;
    }
    .indasideheading{
        font-size: 17px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 60px; 
    }
    .linkat, .chartat{
        font-size: 13px; 
    }
    .tierGrid, .tierGrid2, .tierGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .merchGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    }
    .footy{
        min-height: auto;
    }
    .footydetails{
        grid-template-rows: auto; 
    }
    #footyHeader{
        font-size: 14px;
    }
    #footyLink{
        font-size: 12px;
        margin-bottom: 0.4em;
    }
    .footylogoGrid{
        width: 100%;
        grid-gap: 5%;
    }
    .footyimg{
        width: 80px;
    }
    #rightRes{
        font-size: 13px;
    }
}

@media (372px <= width <= 443px) { 
    .ptylogo{
        font-size: 20px;
        text-shadow: -1px 0px 2px rgb(11, 11, 11);
    }
    .sectionOne{
        background-position: center;
    }
    .sectionFive, .sectionSix, .sectionThree{
        background: transparent;
    }
    .sectionHeading{
        font-size: 22px;
        text-shadow: -1px 0px 2px #FF6A0D;
    }
    .seoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .dataGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2.5em;
        padding-bottom: 15%;
    }
    .asidecontgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
        grid-gap: 5%;
    } 
    .seoaside{
        border-radius: 30px;
        height: auto;
    }
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .styleBox, .seobox{
        background-position-y: -14em;
    }
    .seoheadding{
        font-size: 24px;
    }
    .seoarticle, .dataArticle{
        padding: 0.5rem;
        border-radius: 30px;
    }
    .seoarticlegrid, .dataArticleBox{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto; 
    }
    .seovideo{
        border-radius: 30px;
    }
    .openingheading, .openingheading2, .openingwaffle, .openingwaffle2{ 
        text-align: center;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetails, .priceDetails{
        width: 75%;
        margin-inline: auto;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 14px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    } 
    .seowaffle{
        font-size: 16px;
    }
    .undustryGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
        width: 80vw;
        margin-inline: auto;
        border-radius: 30px;
    } 
    .industryvidbox{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .industryaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .industrywaffle{
        font-size: 21px;
    }
    .words{
        height: 35px;
    }
    .indasideheading{
        font-size: 17px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 75px; 
    }
    .linkat, .chartat{
        font-size: 15px; 
    }
    .tierGrid, .tierGrid2, .tierGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .merchGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    }
    .footy{
        min-height: auto;
    }
    .footydetails{
        grid-template-rows: auto; 
    }
    #footyHeader{
        font-size: 14px;
    }
    #footyLink{
        font-size: 12px;
        margin-bottom: 0.4em;
    }
    .footylogoGrid{
        width: 100%;
        grid-gap: 5%;
        left: 67.5%;
    }
    .footyimg{
        width: 80px;
    }
    #rightRes{
        font-size: 13px;
    }
}

@media (444px <= width <= 572px) { 
    .ptylogo{
        font-size: 24px;
        text-shadow: -1px 0px 2px rgb(11, 11, 11);
    }
    .sectionOne{
        background-position: center;
    }
    .sectionFive, .sectionSix, .sectionThree{
        background: transparent;
    }
    .sectionHeading{
        text-shadow: -1px 0px 2px #FF6A0D;
    }
    .seoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .dataGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2.5em;
        padding-bottom: 15%;
    }
    .asidecontgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .seoaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: auto;
    }
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .styleBox, .seobox{
        background-position-y: -14em;
    }
    .seoheadding{
        font-size: 24px;
    }
    .seoarticle, .dataArticle{
        padding: 0.5rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }
    .seoarticlegrid, .dataArticleBox{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
    }
    .seovideo{
        border-radius: 30px;
    }
    .openingheading, .openingheading2, .openingwaffle, .openingwaffle2{ 
        text-align: center;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetails, .priceDetails{
        width: 62.5%;
        margin-inline: auto;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 14px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    } 
    .seowaffle{
        font-size: 16px;
    }
    .undustryGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
        width: 80vw;
        margin-inline: auto;
        border-radius: 30px;
    } 
    .industryvidbox{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .industryaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .industrywaffle{
        font-size: 21px;
    }
    .words{
        height: 35px;
    }
    .indasideheading{
        font-size: 17px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 75px; 
    }
    .linkat, .chartat{
        font-size: 15px; 
    }
    .tierGrid, .tierGrid2, .tierGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .merchGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    }

    .footy{
        min-height: auto;
    }
    .footydetails{
        grid-template-rows: auto; 
    }
    #footyHeader{
        font-size: 14px;
    }
    #footyLink{
        font-size: 12px;
        margin-bottom: 0.4em;
    }
    .footylogoGrid{
        width: 100%;
        grid-gap: 5%;
        left: 67.5%;
    }
    .footyimg{
        width: 80px;
    }
    #rightRes{
        font-size: 13px;
    }
}

@media (573px <= width <= 784px) { 
    .ptylogo{
        font-size: 26px;
        text-shadow: -1px 0px 2px rgb(11, 11, 11);
    } 
    .sectionOne{
        background-position: center;
    }
    .sectionFive, .sectionSix, .sectionThree{
        background: transparent;
    }
    .sectionHeading{
        text-shadow: -1px 0px 2px #FF6A0D;
    }
    .seoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .dataGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2.5em;
        padding-bottom: 15%;
    }
    .asidecontgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .seoaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: auto;
    }
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoheadding{
        font-size: 20px;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo{
        border-radius: 30px;
    } 
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetails, .priceDetails{
        width: 50%;
        margin-inline: auto;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 14px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    } 
    .seowaffle{
        font-size: 16px;
    }
    .undustryGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
        width: 60vw;
        margin-inline: auto;
        border-radius: 30px;
    } 
    .industryvidbox{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .industryaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .industrywaffle{
        font-size: 21px;
    }
    .words{
        height: 35px;
    }
    .indasideheading{
        font-size: 17px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 55px;
    }
    .linkat, .chartat{
        font-size: 15px;
    }
    .tierGrid, .tierGrid2, .tierGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .merchGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .footy{
        min-height: auto;
    }
    .footydetails{
        grid-template-rows: auto; 
    }
    #footyHeader{
        font-size: 20px;
    }
    #footyLink{
        font-size: 16px;
        margin-bottom: 0.4em;
    }
    .footylogoGrid{
        width: 100%;
        grid-gap: 6.25%;
        left: 67.5%;
    }
    .footyimg{
        width: 180px;
    }
    #rightRes{
        font-size: 13px;
    }
}

@media (785px <= width <= 829px) { 
    .ptylogo{
        text-shadow: -1px 0px 2px rgb(11, 11, 11);
    }
    .sectionOne{
        background-position: center;
    }
    .sectionFive, .sectionSix, .sectionThree{
        background: transparent;
    }
    .sectionHeading{
        text-shadow: -1px 0px 2px #FF6A0D;
    }
    .seoGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    } 
    .dataGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2.5em;
        padding-bottom: 15%;
    }
    .asidecontgrid{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .seoaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        height: auto;
    }
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo{
        border-radius: 30px;
    } 
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 12px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    } 
    .seowaffle{
        font-size: 16px;
    }
    .undustryGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 35vh auto;
        width: 60vw;
        margin-inline: auto;
        border-radius: 30px;
    } 
    .industryvidbox{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .industryaside{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .industrywaffle{
        font-size: 21px;
    }
    .words{
        height: 35px;
    }
    .indasideheading{
        font-size: 17px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 55px;
    }
    .linkat, .chartat{
        font-size: 15px;
    }
    .merchGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 5em;
    }
    .footy{
        min-height: auto;
    }
    .footydetails{
        grid-template-rows: auto; 
    }
    #footyHeader{
        font-size: 20px;
    }
    #footyLink{
        font-size: 16px;
        margin-bottom: 0.4em;
    }
    .footylogoGrid{
        width: 100%;
        grid-gap: 5%;
        left: 65%;
    }
    .footyimg{
        width: 180px;
    }
    #rightRes{
        font-size: 13px;
    }
}

@media (830px <= width <= 964px) {
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo, .seoaside{
        border-radius: 30px;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 12px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    }
    .seowaffle{
        font-size: 16px;
    }
    .industrywaffle{
        font-size: 22px;
    }
    .words{
        height: 30px;
    }
    .indasideheading{
        font-size: 16px;
    }
    #asideText{
        font-size: 14px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 55px;
    }
    .linkat, .chartat{
        font-size: 15px;
    }
    .footylogoGrid{
        left: 52.5%;
    }
}

@media (965px <= width <= 981px) {
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo, .seoaside{
        border-radius: 30px;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 19px;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 12px;
    }
    .bklink{
        font-size: 24px;
        padding: 0.2em;
    }
    .price{
        font-size: 24px;
    }
    .tierImg{
        background-position-y: 50%;
    }
    .pricingGrid, .pricingGrid2, .pricingGrid3{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
    .tierOnevideo{
        width: 125%;
        height: 200%;
        object-fit: fill;
        top: -20%;
        right: 0;
    }
    .seowaffle{
        font-size: 16px;
    }
    .industrywaffle{
        font-size: 23px;
    }
    .words{
        height: 30px;
    }
    .indasideheading{
        font-size: 20px;
    }
    #asideText{
        font-size: 16px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 55px;
    }
    .linkat, .chartat{
        font-size: 16px;
    }
    .footylogoGrid{
        left: 52.5%;
    }
}

@media (982px <= width <= 1072px) {
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo, .seoaside{
        border-radius: 30px;
    }
    .openingheading2{
        font-size: 23px;
        padding: 10px;
    }
    .productheading{
        font-size: 22px;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 12px;
    }
    .bklink{
        padding: 0.2em;
    }
    .seowaffle{
        font-size: 18px;
    }
    .industrywaffle{
        font-size: 23px;
    }
    .words{
        height: 30px;
    }
    .indasideheading{
        font-size: 22px;
    }
    #asideText{
        font-size: 18px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .aticon, .charticon, .bxs-badge-dollar, .bxs-store-alt{
        font-size: 55px;
    }
    .linkat, .chartat{
        font-size: 18px;
    }
    .footylogoGrid{
        left: 52.5%;
    }
}

@media (1072px <= width <= 1115px) {
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
    .seoarticle{
        padding: 0.5rem;
    }
    .seovideo, .seoaside{
        border-radius: 30px;
    }
    .productheading{
        font-size: 22px;
    }
    .tierDetailText, .tierDetailText2, .priceDetailText{
        font-size: 12px;
    }
    .bklink{
        padding: 0.2em;
    }
    .seowaffle{
        font-size: 20px;
    }
    .industrywaffle{
        font-size: 23px;
    }
    .words{
        height: 30px;
    }
    .indasideheading{
        font-size: 22px;
    }
    #asideText{
        font-size: 20px;
    }
    .atcont, .chartcont{
        left: 62.5%; 
    }
    .footylogoGrid{
        left: 52.5%;
    }
}

@media (1116px <= width <= 1355px) {
    .seobox, .styleBox, .dataBox{
        background-size: cover;
    }
}
